<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Property</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1>Update Property</h1>
<form th:action="@{/properties/{address}(address=${property.address})}" method="post">
    <input type="hidden" name="_method" value="PUT" /> <!-- Add this hidden field -->
    <div class="form-group">
        <label for="propertyType">Property Type</label>
        <input type="text" class="form-control" id="propertyType" name="propertyType"
               th:value="${property.propertyType}" required>
    </div>
    <div class="form-group">
        <label for="sqft">Sqft</label>
        <input type="number" class="form-control" id="sqft" name="sqft"
               th:value="${property.sqft}" required>
    </div>
    <div class="form-group">
        <label for="numberOfBedrooms">Number of Bedrooms</label>
        <input type="number" class="form-control" id="numberOfBedrooms" name="numberOfBedrooms"
               th:value="${property.numberOfBedrooms}" required>
    </div>
    <div class="form-group">
        <label for="numberOfBathrooms">Number of Bathrooms</label>
        <input type="number" class="form-control" id="numberOfBathrooms" name="numberOfBathrooms"
               th:value="${property.numberOfBathrooms}" required>
    </div>
    <button type="submit" class="btn btn-primary">Update Property</button>
</form>
</body>
</html>